---
import IconFacebook from '../assets/icon-facebook.astro'
import IconTwitter from '../assets/icon-twitter.astro'
import LogoBookmark from '../assets/logo-bookmark.astro'
import PrimaryHeading from '../components/ui/primary-heading.astro'
import SecondaryHeading from '../components/ui/secondary-heading.astro'
import Button from '../components/ui/button.astro'
import Header from '../components/header.astro'
import Card from '../components/card.astro'

import '../styles/global.css'

const browsers = [
  {
    logo: '/images/logo-chrome.svg',
    browser: 'Chrome',
    version: '62',
    href: '#'
  },
  {
    logo: '/images/logo-firefox.svg',
    browser: 'Firefox',
    version: '55',
    href: '#'
  },
  {
    logo: '/images/logo-opera.svg',
    browser: 'Opera',
    version: '46',
    href: '#'
  }
]
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Rubik:wght@400..500&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Header />
    <main class='mt-36'>
      <section class='md:py-20'>
        <div class='container'>
          <div class='even-columns gap-12 items-center'>
            <div class='text-center md:text-left order-2 md:order-1 max-w-lg'>
              <PrimaryHeading class='mb-4'>
                A simple bookmark manager
              </PrimaryHeading>
              <p class='mb-8'>
                A clean and simple interface to organize your favourite
                websites. Open a new browser tab and see your sites load
                instantly. Try it for free.
              </p>
              <div class='flex md:block'>
                <Button as='a' href='#' class='mr-3'>Get it on Chrome</Button>
                <Button as='a' href='#' variant='neutral'>
                  Get it on Firefox
                </Button>
              </div>
            </div>
            <div class='order-1 md:order-2'>
              <img
                src='./images/illustration-hero.svg'
                alt='bookmark screenshot'
              />
            </div>
          </div>
        </div>
      </section>
      <section class='py-16 md:py-20'>
        <div class='container'>
          <div class='text-center'>
            <SecondaryHeading class='text-neutral-900'>
              Features
            </SecondaryHeading>
            <p>
              Our aim is to make it quick and easy for you to access your
              favourite websites. Your bookmarks sync between your devices so
              you can access them on the go.
            </p>
          </div>
          <!-- TODO: tabs -->
          <div role='tablist' aria-label='features list'>
            <button
              aria-selected='false'
              role='tab'
              aria-controls='simple-tab'
              tabindex='0'>Simple bookmarking</button
            >
            <button
              aria-selected='false'
              role='tab'
              aria-controls='speedy-tab'
              tabindex='-1'>Speedy searching</button
            >
            <button
              aria-selected='false'
              role='tab'
              aria-controls='easy-tab'
              tabindex='-1'>Easy sharing</button
            >
          </div>
          <article
            class='even-columns'
            id='simple-tab'
            tabindex='0'
            role='tabpanel'
          >
            <div>
              <img src='./images/illustration-features-tab-1.svg' alt='tab 1' />
            </div>
            <div>
              <SecondaryHeading tag='h3' class='text-neutral-900'>
                Bookmark in one click
              </SecondaryHeading>
              <p>
                Organize your bookmarks however you like. Our simple
                drag-and-drop interface gives you complete control over how you
                manage your favourite sites.
              </p>
              <Button as='a' href='#'>More Info</Button>
            </div>
          </article>
          <article
            class='even-columns'
            id='speedy-tab'
            tabindex='0'
            role='tabpanel'
          >
            <div>
              <img src='./images/illustration-features-tab-2.svg' alt='tab 2' />
            </div>
            <div>
              <SecondaryHeading tag='h3' class='text-neutral-900'>
                Intelligent search
              </SecondaryHeading>
              <p>
                Our powerful search feature will help you find saved sites in no
                time at all. No need to trawl through all of your bookmarks.
              </p>
              <Button as='a' href='#'>More Info</Button>
            </div>
          </article>
          <article
            class='even-columns'
            id='easy-tab'
            tabindex='0'
            role='tabpanel'
          >
            <div>
              <img src='./images/illustration-features-tab-3.svg' alt='tab 3' />
            </div>
            <div>
              <SecondaryHeading tag='h3' class='text-neutral-900'>
                Share your bookmarks
              </SecondaryHeading>
              <p>
                Easily share your bookmarks and collections with others. Create
                a shareable link that you can send at the click of a button.
              </p>
              <Button as='a' href='#'>More Info</Button>
            </div>
          </article>
          <!-- TODO: tabs -->
        </div>
      </section>
    </main>
    <section class='py-16 md:py-20'>
      <div class='container'>
        <div class='text-center mb-8 md:mb-14'>
          <SecondaryHeading class='text-neutral-900 mb-4'>
            Download the extension
          </SecondaryHeading>
          <p class='text-balance md:max-w-prose md:mx-auto'>
            We’ve got more browsers in the pipeline. Please do let us know if
            you’ve got a favourite you’d like us to prioritize.
          </p>
        </div>
        <!-- TODO: cards -->
        <div class='even-columns gap-10 cards'>
          {
            browsers.map((browser) => (
              <Card {...browser} class='even:mt-10 last:mt-20' />
            ))
          }
        </div>
        <!-- TODO: cards -->
      </div>
    </section>
    <section class='py-16 mb-12 md:py-20 md:mb-16'>
      <div class='container'>
        <div class='text-center'>
          <SecondaryHeading class='text-neutral-900'>
            Frequently Asked Questions
          </SecondaryHeading>
          <p>
            Here are some of our FAQs. If you have any other questions you´d
            like answered please feel free to email us.
          </p>
        </div>
        <!-- TODO: FAQs component -->
        <Button as='a' href='#'>More Info</Button>
      </div>
    </section>
    <section class='py-16 bg-primary-400 text-neutral-100'>
      <div class='container'>
        <div class='text-center'>
          <p>35.000+ already joined</p>
          <SecondaryHeading>
            Stay up-to-date with what we're doing
          </SecondaryHeading>
        </div>
        <form>
          <input type='email' name='email' id='email' />
          <Button variant='accent' class='capitalize'>Contact us</Button>
        </form>
      </div>
    </section>
  </body>
  <footer class='py-10 primary-footer bg-neutral-900 text-neutral-100'>
    <div class='container'>
      <a href='/'><LogoBookmark /></a>
      <nav class='secondary-navigation'>
        <ul role='list' class='nav-list'>
          <li><a href='#'>Features</a></li>
          <li><a href='#'>Pricing</a></li>
          <li><a href='#'>Contact</a></li>
        </ul>
      </nav>
      <nav class='secondary-navigation'>
        <ul role='list' class='nav-list'>
          <li><a href='#'><IconFacebook /></a></li>
          <li><a href='#'><IconTwitter /></a></li>
        </ul>
      </nav>
    </div>
  </footer>
</html>

<style>
  @media (min-width: 768px) {
    .cards {
      align-items: start;
      justify-items: center;
      justify-content: center;
      grid-auto-columns: initial;
    }
  }
</style>
