---
import { Button } from './ui/button'
import SecondaryHeading from './ui/secondary-heading.astro'
---

<div class='text-center'>
  <p>35.000+ already joined</p>
  <SecondaryHeading> Stay up-to-date with what we're doing </SecondaryHeading>
</div>
<form>
  <input type='email' name='email' id='email' />
  <Button variant='accent' className='capitalize'>Contact us</Button>
</form>
