---
import SecondaryHeading from './ui/secondary-heading.astro'
import FeaturesTab from './features-tab'
---

<div class='text-center'>
  <SecondaryHeading class='text-neutral-900'>Features</SecondaryHeading>
  <p>
    Our aim is to make it quick and easy for you to access your favourite
    websites. Your bookmarks sync between your devices so you can access them on
    the go.
  </p>
</div>
<FeaturesTab client:load />
