---
import LogoBookmark from '../assets/logo-bookmark.astro'
import Button from '../components/ui/button.astro'
---

<header class='primary-header mt-10 md:mt-12'>
  <div class='container'>
    <div class='flex items-center justify-between'>
      <a href='/'><LogoBookmark /></a>
      <button
        class='mobile-nav-toggle'
        aria-controls='primary-navigation'
        aria-expanded='false'
      >
        <img
          class='icon-hamburger'
          src='./images/icon-hamburger.svg'
          alt=''
          aria-hidden='true'
        />
        <img
          class='icon-close'
          src='./images/icon-close.svg'
          alt=''
          aria-hidden='true'
          hidden
        />
        <span class='sr-only'>Menu</span>
      </button>
      <nav class='primary-navigation'>
        <ul
          role='list'
          class='nav-list'
          id='primary-navigation'
          aria-label='primary'
        >
          <li><a href='#'>Features</a></li>
          <li><a href='#'>Pricing</a></li>
          <li><a href='#'>Contact</a></li>
        </ul>
        <Button
          as='a'
          href='#'
          variant='accent'
          size='wide'
          class='font-inherit desktop-login-button'
        >
          Login
        </Button>
        <Button
          as='a'
          href='#'
          variant='outline'
          size='wide'
          class='font-inherit mobile-login-button'
        >
          Login
        </Button>
      </nav>
    </div>
  </div>
</header>

<style>
  .mobile-nav-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .desktop-login-button {
      display: none;
    }

    .primary-navigation {
      display: none;

      position: fixed;
      inset: 6.5rem 1.5rem auto;
      gap: 1.5rem;
      text-align: center;
      text-transform: uppercase;

      @apply bg-neutral-900/90;
    }

    .primary-navigation a {
      outline: none;
      @apply text-neutral-100 text-xl hover:text-accent-400 focus:text-accent-400;
    }

    .primary-navigation[data-visible] {
      display: grid;
    }

    .nav-list {
      @apply border border-neutral-100/25;
    }

    .nav-list li {
      padding: 1.25rem;
    }

    .nav-list li + li {
      @apply border-t border-t-neutral-100/25;
    }

    .mobile-nav-toggle {
      display: block;
      padding: 0.5rem;
    }
  }

  @media (min-width: 768px) {
    .mobile-login-button {
      display: none;
    }
  }
</style>

<script>
  const mobileNavToggle = document.querySelector('.mobile-nav-toggle')
  const primaryNavigation = document.querySelector('.primary-navigation')
  const iconHamburger = document.querySelector('.icon-hamburger')
  const iconClose = document.querySelector('.icon-close')

  mobileNavToggle?.addEventListener('click', () => {
    if (primaryNavigation?.hasAttribute('data-visible')) {
      closeNavigation()
    } else {
      openNavigation()
    }
    primaryNavigation?.toggleAttribute('data-visible')
  })

  function closeNavigation() {
    mobileNavToggle?.setAttribute('aria-expanded', 'false')
    iconHamburger?.removeAttribute('hidden')
    iconClose?.setAttribute('hidden', 'true')
  }

  function openNavigation() {
    mobileNavToggle?.setAttribute('aria-expanded', 'true')
    iconClose?.removeAttribute('hidden')
    iconHamburger?.setAttribute('hidden', 'true')
  }
</script>
