---
import Button from '../components/ui/button.astro'
import PrimaryHeading from '../components/ui/primary-heading.astro'
---

<div class='even-columns gap-12 items-center'>
  <div class='text-center md:text-left order-2 md:order-1 max-w-lg'>
    <PrimaryHeading class='mb-4'> A simple bookmark manager </PrimaryHeading>
    <p class='mb-8'>
      A clean and simple interface to organize your favourite websites. Open a
      new browser tab and see your sites load instantly. Try it for free.
    </p>
    <div class='flex md:block'>
      <Button as='a' href='#' class='mr-3'>Get it on Chrome</Button>
      <Button as='a' href='#' variant='neutral'> Get it on Firefox </Button>
    </div>
  </div>
  <div class='order-1 md:order-2'>
    <img src='./images/illustration-hero.svg' alt='bookmark screenshot' />
  </div>
</div>
